

<form method="post" action="{{ path('app_profesionales_delete', {'id': id}) }}" onsubmit="return confirm('¿Esta seguro que desea eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btn btn-danger">Eliminar <i class="fa-regular fa-trash-can"></i></button>
</form>


