{% extends 'base.html.twig' %}

{% block title %}Alta de profesional{% endblock %}

{% block encabezado %}
    Alta de profesional
{% endblock %}

{% block main %}
{# <div style="max-width: 60%; margin:auto; box-sizing: border-box;"> #}

    {{ include('profesionales/_form.html.twig') }}
    
{# </div> #}
{% endblock %}
