{% extends 'base.html.twig' %}

{% block title %}Editar medico{% endblock %}

{% block encabezado %}
    Editar medico
{% endblock %}

{% block main %}

    <div style="max-width: 60%; margin:auto">
        {{ include('medico/_form.html.twig', {'button_label': 'Modificar'}) }}
    </div>
    
    {{ include('medico/_delete_form.html.twig') }}
{% endblock %}
