{% extends 'base.html.twig' %}

{% block title %}Alta medico{% endblock %}

{% block encabezado %}
    Alta medico
{% endblock %}

{% block main %}
{# <div style="max-width: 60%; margin:auto; box-sizing: border-box;"> #}

    {{ include('medico/_form.html.twig') }}
    
{# </div> #}
{% endblock %}
