

<form method="post" action="{{ path('app_persona_delete', {'id': persona.id}) }}" onsubmit="return confirm('¿Esta seguro que desea eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ persona.id) }}">
    <button class="btn btn-danger">Eliminar <i class="fa-regular fa-trash-can"></i></button>
</form>
