{% extends 'base.html.twig' %}

{% block title %}Nuevo{% endblock %}

{% block encabezado %}
    Nuevo
{% endblock %}

{% block main %}
<div style="max-width: 60%; margin:auto">

    {{ include('persona/_form.html.twig') }}
</div>
{% endblock %}
