{% extends 'baseOut.html.twig' %}

            {% block nav %}
            
                <nav class="nav">
            
                        <div>                  
                            <a class="navbtn " href="{{ path('app_profesionales_index') }}">Consulta Profesional</a>
                            <a class="navbtn" href="{{ path('app_profesionales_new') }}">Agregar Profesional</a>
                        </div>                   
                        <div>
                            {% if app.user %}                      
                            <span class="navbtn">Usuario: {{ app.user.userIdentifier }}</span>
                            <a class="navbtn" href="{{ path('app_logout') }}">Logout<i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a>
                            {% endif %}
                        </div>
                
                </nav>
            {% endblock %} 
          
